<button mat-raised-button routerLink="">See All Blogs</button>
<div class="container">
    <div class="container-fluid">
        <div>
            <form [formGroup]="blogForm" (ngSubmit)="onSubmit()">
                <div class="blog-form">
                    <div c>
                        <mat-form-field appearance="outline" class="form-control">
                            <mat-label>Title</mat-label>
                            <input matInput formControlName="title">
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field appearance="outline">
                            <mat-label>Textarea</mat-label>
                            <textarea matInput formControlName='description'></textarea>
                        </mat-form-field>
                    </div>
                    <div formArrayName="tags">
                        <button mat-raised-button class="mb-4" (click)="addTag()">Add Tag</button> 
                        <div *ngFor="let tag of tagControlls;let i =index">
                            <mat-form-field appearance="outline">   
                                <input matInput [formControlName]='i'>
                            </mat-form-field>
                            <button mat-raised-button (click)="removeTag(i)">Delete</button>
                        </div>
                    </div>
                </div>
                <button mat-raised-button type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>